<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="HandsetFree.HandsetFree" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="22" android:targetSdkVersion="22" />
	<uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
	<application android:label="HandsetFree" android:icon="@drawable/Icon">
		<service android:name="com.dpwebdev.handsetfree.NotificationListenerServiceWrapper"
								 android:label="@string/ApplicationName"
								 android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
			<intent-filter>
				<action android:name="android.service.notification.NotificationListenerService" />
			</intent-filter>
		</service>
	</application>
</manifest>